<!DOCTYPE html>
<html>
<head>
    <title>Financial Calculator</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div>
    <div class="row">
        <div class="col">
            <h1 style="text-align: center;">Add Employee</h1>
            <div style="width:30%; margin: 25px auto;">
                <form action = "/api/employee" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="FirstName" placeholder="FirstName">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="LastName" placeholder="LastName">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="Address1" placeholder="Address1">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="Address2" placeholder="Address2">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="City" placeholder="City">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="State" placeholder="State">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="ZipCode" placeholder="ZipCode">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="SSN" placeholder="SSN">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="WithHolding" placeholder="WithHolding">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="Salary" placeholder="Salary">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div style="width: 30%; margin: 0 auto">
        <a href="/">
            <button class="btn btn-lg btn-primary btn-block">Return</button>
        </a>
    </div>
</div>
</body>
</html>