<!DOCTYPE html>
<html>
<head>
    <title>Financial Calculator</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div>
    <h1 style="text-align: center">Create Invoice</h1>
</div>
<div class="container">
    <div class="text-center">
        <form action = "/create/invoice" method="POST">
            <span>Customer:</span>
            <select name="names">
                <% customers.forEach(function(customer){ %>
                <option value="<%=customer.CompanyName%>"><%=customer.CompanyName%></option>
                <% }) %>
            </select>
            <div class="form-group" style="margin: 20px auto; width: 50%">
                <input class="form-control" type="text" name="Units" placeholder="Units">
            </div>
            <div class="form-group">
                <h4>Number of units in stock: <%=total%>.</h4>
            </div>
            <div style="width: 30%; margin: 20px auto">
                <button class="btn btn-lg btn-primary btn-block">Create</button>
            </div>
        </form>
        <div style="width: 30%; margin: 20px auto">
            <a href="/">
                <button class="btn btn-lg btn-primary btn-block">Return</button>
            </a>
        </div>
    </div>
</div>

</body>
</html>