<!DOCTYPE html>
<html>
<head>
    <title>Financial Calculator</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 style="text-align: center;">Employee</h1>
            <div style="width:50%; margin: 25px auto;">
                <form action = "/add/employee" method="GET">
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Add Employee</button>
                    </div>
                </form>
                <form action = "/list/employee" method="GET">
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">List Employee</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col">
            <h1 style="text-align: center;">Customer</h1>
            <div style="width:50%; margin: 25px auto;">
                <form action = "/add/customer" method="GET">
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Add Customer</button>
                    </div>
                </form>
                <form action = "/list/customer" method="GET">
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">List Customer</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col">
            <h1 style="text-align: center;">Vendor</h1>
            <div style="width:50%; margin: 25px auto;">
                <form action = "/add/vendor" method="GET">
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Add Vendor</button>
                    </div>
                </form>
                <form action = "/list/vendor" method="GET">
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">List Vendor</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>